*, html, body, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.app {
	width: 100vw;
	height: 100vh;
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.table {
	height: 30vh;
	width: 40vh;
	border-collapse: collapse;
}

.table__caption {
	font-size: 12px;
	font-style: italic;
}

.table__header {

}

.table__heading {
	border-bottom: 1px solid black;
}

.table__body {

}

.table__row {
	
}

.table__row-item--text-center {
}

.table__cell {

}

.table__cell--text-centered {
	text-align: center;
}

.table__cell--text-left {
	text-align: left;
}

